body {
    font-family: "Poppins", Arial;
    margin: 0;
    padding: 0;
    background: #fff7fb;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #d65b8b;
}

.section-title {
    margin: 40px 0 10px;
    font-size: 26px;
}

/* =======================
   CARD BUAH
======================= */

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 650px;
    margin: auto;
}

.card {
    width: 240px;
    height: 300px;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    backface-visibility: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front {
    background: #ffe1ec;
}

.front img {
    height: 130px;
}

.back {
    background: #d8ffe0;
    transform: rotateY(180deg);
    padding: 20px;
    font-size: 18px;
}

/* =======================
   MATCHING GAME
======================= */

.match-section {
    margin-top: 60px;
    padding: 20px;
    background: #fff0f7;
}

.match-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin: auto;
    gap: 20px;
}

.item, .target {
    border: 3px dashed #b06d91;
    border-radius: 15px;
    padding: 15px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    background: white;
}

.item img {
    height: 80px;
}

/* =======================
   TRACING ANGKA
======================= */

.trace-section {
    margin-top: 60px;
    padding: 30px;
}

canvas {
    margin: 20px 0;
    border: 2px solid #ffb6d5;
    border-radius: 10px;
    background: white;
}
